<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.home.cn.mapper.HomePlotMapper">
	<resultMap id="BaseResultMap" type="com.home.cn.model.HomePlot">
		<id column="UUID" property="uuid" jdbcType="BIGINT" />
		<result column="plot_code" property="plotCode" jdbcType="BIGINT" />
		<result column="plot_name" property="plotName" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="town" property="town" jdbcType="VARCHAR" />
		<result column="county" property="county" jdbcType="VARCHAR" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />
		<result column="owner" property="owner" jdbcType="BIGINT" />
		<result column="creator" property="creator" jdbcType="BIGINT" />
		<result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="BIGINT" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		UUID, plot_code, plot_name, province, town, county, addr, owner, creator,
		creat_time,
		modifier, modify_time
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.home.cn.model.HomePlotExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from home_plot
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from home_plot
		where UUID = #{uuid,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from home_plot
		where UUID = #{uuid,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.home.cn.model.HomePlotExample">
		delete from home_plot
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.home.cn.model.HomePlot">
		insert into home_plot (UUID, plot_code, plot_name,
		province, town, county,
		addr, owner, creator,
		creat_time, modifier, modify_time
		)
		values (#{uuid,jdbcType=BIGINT}, #{plotCode,jdbcType=BIGINT},
		#{plotName,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR},
		#{addr,jdbcType=VARCHAR}, #{owner,jdbcType=BIGINT},
		#{creator,jdbcType=BIGINT},
		#{creatTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.home.cn.model.HomePlot">
		insert into home_plot
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				UUID,
			</if>
			<if test="plotCode != null">
				plot_code,
			</if>
			<if test="plotName != null">
				plot_name,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="town != null">
				town,
			</if>
			<if test="county != null">
				county,
			</if>
			<if test="addr != null">
				addr,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="creatTime != null">
				creat_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=BIGINT},
			</if>
			<if test="plotCode != null">
				#{plotCode,jdbcType=BIGINT},
			</if>
			<if test="plotName != null">
				#{plotName,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="town != null">
				#{town,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				#{county,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=BIGINT},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=BIGINT},
			</if>
			<if test="creatTime != null">
				#{creatTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.home.cn.model.HomePlotExample"
		resultType="java.lang.Integer">
		select count(*) from home_plot
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update home_plot
		<set>
			<if test="record.uuid != null">
				UUID = #{record.uuid,jdbcType=BIGINT},
			</if>
			<if test="record.plotCode != null">
				plot_code = #{record.plotCode,jdbcType=BIGINT},
			</if>
			<if test="record.plotName != null">
				plot_name = #{record.plotName,jdbcType=VARCHAR},
			</if>
			<if test="record.province != null">
				province = #{record.province,jdbcType=VARCHAR},
			</if>
			<if test="record.town != null">
				town = #{record.town,jdbcType=VARCHAR},
			</if>
			<if test="record.county != null">
				county = #{record.county,jdbcType=VARCHAR},
			</if>
			<if test="record.addr != null">
				addr = #{record.addr,jdbcType=VARCHAR},
			</if>
			<if test="record.owner != null">
				owner = #{record.owner,jdbcType=BIGINT},
			</if>
			<if test="record.creator != null">
				creator = #{record.creator,jdbcType=BIGINT},
			</if>
			<if test="record.creatTime != null">
				creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifier != null">
				modifier = #{record.modifier,jdbcType=BIGINT},
			</if>
			<if test="record.modifyTime != null">
				modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update home_plot
		set UUID = #{record.uuid,jdbcType=BIGINT},
		plot_code = #{record.plotCode,jdbcType=BIGINT},
		plot_name = #{record.plotName,jdbcType=VARCHAR},
		province = #{record.province,jdbcType=VARCHAR},
		town = #{record.town,jdbcType=VARCHAR},
		county = #{record.county,jdbcType=VARCHAR},
		addr = #{record.addr,jdbcType=VARCHAR},
		owner = #{record.owner,jdbcType=BIGINT},
		creator = #{record.creator,jdbcType=BIGINT},
		creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
		modifier = #{record.modifier,jdbcType=BIGINT},
		modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.home.cn.model.HomePlot">
		update home_plot
		<set>
			<if test="plotCode != null">
				plot_code = #{plotCode,jdbcType=BIGINT},
			</if>
			<if test="plotName != null">
				plot_name = #{plotName,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="town != null">
				town = #{town,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				county = #{county,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				owner = #{owner,jdbcType=BIGINT},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=BIGINT},
			</if>
			<if test="creatTime != null">
				creat_time = #{creatTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where UUID = #{uuid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.home.cn.model.HomePlot">
		update home_plot
		set plot_code = #{plotCode,jdbcType=BIGINT},
		plot_name = #{plotName,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		town = #{town,jdbcType=VARCHAR},
		county = #{county,jdbcType=VARCHAR},
		addr = #{addr,jdbcType=VARCHAR},
		owner = #{owner,jdbcType=BIGINT},
		creator = #{creator,jdbcType=BIGINT},
		creat_time = #{creatTime,jdbcType=TIMESTAMP},
		modifier = #{modifier,jdbcType=BIGINT},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP}
		where UUID = #{uuid,jdbcType=BIGINT}
	</update>
	<!-- 手写sql -->
	<sql id="queryCondition">
		<if test="uuid != null">
			and UUID = #{uuid,jdbcType=BIGINT}
		</if>
		<if test="plotCode != null">
			and plot_code = #{plotCode,jdbcType=BIGINT}
		</if>
		<if test="plotName != null">
			and plot_name LIKE #{plotName,jdbcType=VARCHAR}
		</if>
		<if test="province != null">
			and province = #{province,jdbcType=VARCHAR}
		</if>
		<if test="town != null">
			and town = #{town,jdbcType=VARCHAR}
		</if>
		<if test="county != null">
			and county = #{county,jdbcType=VARCHAR}
		</if>
		<if test="addr != null">
			and addr = #{addr,jdbcType=VARCHAR}
		</if>
		<if test="owner != null">
			and owner = #{owner,jdbcType=BIGINT}
		</if>
		<if test="creator != null">
			and creator = #{creator,jdbcType=BIGINT}
		</if>
	</sql>
	<select id="query" resultMap="BaseResultMap" parameterType="com.home.cn.param.HomePlotParam">
		select <include refid="Base_Column_List" /> from home_plot where 1 = 1
		<include refid="queryCondition"></include>
	</select>
	<select id="count" parameterType="com.home.cn.param.HomePlotParam" resultType="java.lang.Integer">
		select count(*) from home_plot where 1=1
		<include refid="queryCondition"></include>
	</select>
	
</mapper>