<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.home.cn.mapper.HomeNoticeMapper">
	<resultMap id="BaseResultMap" type="com.home.cn.model.HomeNotice">
		<id column="UUID" property="uuid" jdbcType="BIGINT" />
		<result column="plot_code" property="plotCode" jdbcType="BIGINT" />
		<result column="plot_name" property="plotName" jdbcType="VARCHAR" />
		<result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
		<result column="notice_detail" property="noticeDetail"
			jdbcType="VARCHAR" />
		<result column="notice_type" property="noticeType" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="BIGINT" />
		<result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="BIGINT" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		UUID, plot_code, plot_name, notice_title, notice_detail, notice_type,
		creator, creat_time,
		modifier, modify_time
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.home.cn.model.HomeNoticeExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from home_notice
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from home_notice
		where UUID = #{uuid,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from home_notice
		where UUID = #{uuid,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.home.cn.model.HomeNoticeExample">
		delete from home_notice
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.home.cn.model.HomeNotice">
		insert into home_notice (UUID, plot_code, plot_name,
		notice_title, notice_detail, notice_type,
		creator, creat_time, modifier,
		modify_time)
		values (#{uuid,jdbcType=BIGINT}, #{plotCode,jdbcType=BIGINT},
		#{plotName,jdbcType=VARCHAR},
		#{noticeTitle,jdbcType=VARCHAR}, #{noticeDetail,jdbcType=VARCHAR}, #{noticeType,jdbcType=VARCHAR},
		#{creator,jdbcType=BIGINT}, #{creatTime,jdbcType=TIMESTAMP},
		#{modifier,jdbcType=BIGINT},
		#{modifyTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.home.cn.model.HomeNotice">
		insert into home_notice
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				UUID,
			</if>
			<if test="plotCode != null">
				plot_code,
			</if>
			<if test="plotName != null">
				plot_name,
			</if>
			<if test="noticeTitle != null">
				notice_title,
			</if>
			<if test="noticeDetail != null">
				notice_detail,
			</if>
			<if test="noticeType != null">
				notice_type,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="creatTime != null">
				creat_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=BIGINT},
			</if>
			<if test="plotCode != null">
				#{plotCode,jdbcType=BIGINT},
			</if>
			<if test="plotName != null">
				#{plotName,jdbcType=VARCHAR},
			</if>
			<if test="noticeTitle != null">
				#{noticeTitle,jdbcType=VARCHAR},
			</if>
			<if test="noticeDetail != null">
				#{noticeDetail,jdbcType=VARCHAR},
			</if>
			<if test="noticeType != null">
				#{noticeType,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=BIGINT},
			</if>
			<if test="creatTime != null">
				#{creatTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.home.cn.model.HomeNoticeExample"
		resultType="java.lang.Integer">
		select count(*) from home_notice
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update home_notice
		<set>
			<if test="record.uuid != null">
				UUID = #{record.uuid,jdbcType=BIGINT},
			</if>
			<if test="record.plotCode != null">
				plot_code = #{record.plotCode,jdbcType=BIGINT},
			</if>
			<if test="record.plotName != null">
				plot_name = #{record.plotName,jdbcType=VARCHAR},
			</if>
			<if test="record.noticeTitle != null">
				notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.noticeDetail != null">
				notice_detail = #{record.noticeDetail,jdbcType=VARCHAR},
			</if>
			<if test="record.noticeType != null">
				notice_type = #{record.noticeType,jdbcType=VARCHAR},
			</if>
			<if test="record.creator != null">
				creator = #{record.creator,jdbcType=BIGINT},
			</if>
			<if test="record.creatTime != null">
				creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifier != null">
				modifier = #{record.modifier,jdbcType=BIGINT},
			</if>
			<if test="record.modifyTime != null">
				modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update home_notice
		set UUID = #{record.uuid,jdbcType=BIGINT},
		plot_code = #{record.plotCode,jdbcType=BIGINT},
		plot_name = #{record.plotName,jdbcType=VARCHAR},
		notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
		notice_detail = #{record.noticeDetail,jdbcType=VARCHAR},
		notice_type = #{record.noticeType,jdbcType=VARCHAR},
		creator = #{record.creator,jdbcType=BIGINT},
		creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
		modifier = #{record.modifier,jdbcType=BIGINT},
		modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.home.cn.model.HomeNotice">
		update home_notice
		<set>
			<if test="plotCode != null">
				plot_code = #{plotCode,jdbcType=BIGINT},
			</if>
			<if test="plotName != null">
				plot_name = #{plotName,jdbcType=VARCHAR},
			</if>
			<if test="noticeTitle != null">
				notice_title = #{noticeTitle,jdbcType=VARCHAR},
			</if>
			<if test="noticeDetail != null">
				notice_detail = #{noticeDetail,jdbcType=VARCHAR},
			</if>
			<if test="noticeType != null">
				notice_type = #{noticeType,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=BIGINT},
			</if>
			<if test="creatTime != null">
				creat_time = #{creatTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where UUID = #{uuid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.home.cn.model.HomeNotice">
		update home_notice
		set plot_code = #{plotCode,jdbcType=BIGINT},
		plot_name = #{plotName,jdbcType=VARCHAR},
		notice_title = #{noticeTitle,jdbcType=VARCHAR},
		notice_detail = #{noticeDetail,jdbcType=VARCHAR},
		notice_type = #{noticeType,jdbcType=VARCHAR},
		creator = #{creator,jdbcType=BIGINT},
		creat_time = #{creatTime,jdbcType=TIMESTAMP},
		modifier = #{modifier,jdbcType=BIGINT},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP}
		where UUID = #{uuid,jdbcType=BIGINT}
	</update>
	<!-- 手写sql -->
	<sql id="queryCondition">
		<if test="uuid != null">
			and UUID = #{uuid,jdbcType=BIGINT}
		</if>
		<if test="plotCode != null">
			and plot_code = #{plotCode,jdbcType=BIGINT}
		</if>
		<if test="plotName != null">
			and plot_name = #{plotName,jdbcType=VARCHAR}
		</if>
		<if test="noticeTitle != null">
			and notice_title = #{noticeTitle,jdbcType=VARCHAR}
		</if>
		<if test="noticeType != null">
			and notice_type = #{noticeType,jdbcType=VARCHAR}
		</if>
		<if test="creator != null">
			and creator = #{creator,jdbcType=BIGINT}
		</if>
		<if test="creatTime != null">
			and creat_time = #{creatTime,jdbcType=TIMESTAMP}
		</if>
	</sql>
	<select id="query" resultMap="BaseResultMap" parameterType="com.home.cn.param.HomeNoticeParam">
		select
		<include refid="Base_Column_List" />
		from home_notice where 1 = 1
		<include refid="queryCondition"></include>
	</select>
	<select id="count" parameterType="com.home.cn.param.HomeNoticeParam"
		resultType="java.lang.Integer">
		select count(*) from home_notice where 1=1
		<include refid="queryCondition"></include>
	</select>
</mapper>